<% include header %>

<div class="container">
	<div class="col-12">
		
		<br>
		<br>
		<a href="/traderequests">My Trade Requests</a> | <a href="/traderequestspending"> My Trade Requests Pending</a>
		<br>
		<br>
		<div class="center">
			<br>
			<table class="table table-bordered">
				<thead class="thead-default">
					<th>Title</th>
					<th>Author(s)</th>
					<th>ISBN</th>
					<th>Image</th>
					<th>Action</th>
				</thead>
				<tbody>
					<% books.forEach(function(book){ %>
						<tr>
							<td><%= book.title %></td>
							<td><%= book.author %></td>
							<td><%= book.ISBN %></td>
							<td><img src="<%= book.photo %>" /></td>
							<td><a href="#" onclick="requestBook('<%= book._id %>')">Request Trade</a></td> 
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/allbooks.js"></script>

<% include footer %>